{% extends 'base.html.twig' %}

{% block title %}Nouvelle Saison - {% endblock %}

{% block body %}
    <h1>Créer nouvelle Saison</h1>

    {{ include('saison/_form.html.twig') }}

    <a href="{{ path('saison_index') }}">Retour à la liste</a>
{% endblock %}
