<form method="post" action="{{ path('action_semaine_delete', {'id': action_semaine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action_semaine.id) }}">
    <button class="btn">Delete</button>
</form>
